{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 4],
    "no-console": 0
  },
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "NODE_ENV": false
  }
}