{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 4],
    "no-console": 0,
    "quote-props": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "NODE_ENV": false,
    "React": false
  }
}