
.movie-details {
  margin-bottom: 50px;
}

.movie-details__logo {
  color:red;
  background-color:#333;
  padding: 2em;
  padding-bottom: 0em;
}

.movie-details__film-by {
  background-color: #ccc;
  padding: .5em;
  margin-bottom: 1em;
}
