.switch {
    color: white;
    display: inline-block;
}

.switch__param {
    display: inline-block;
    margin-left: 1em;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    cursor: pointer; 
}

.switch__param--active {
    color: white;
    background-color: red;
    border-radius: .25em;
}