.movie-item {
  width: 100%;
}

.movie-item__image {
  width: 100%;
}

.movie-item__release-date {
  border: 1px solid black;
  padding: 2px;
  display: inline-block;
}


.movie-item__genres {
  /* white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.movie-item__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  letter-spacing: -.5px;
}